body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
}
.weather {
  max-width: 600px;
  padding: 30px 30px 0 30px;
  background-image: linear-gradient(to bottom, rgb(245, 228, 244), white);
  border-radius: 20px;
}

form {
  padding-bottom: 25px;
}
h1.city-info {
  color: rebeccapurple;
  font-size: 40px;
  text-align: center;
}
h5 {
  font-size: 18px;
  color: lightslategray;
  text-align: center;
}
h6.forecast {
  font-size: 15px;
  color: rgb(104, 104, 104);
  font-weight: 300;
}

a.link {
  text-decoration: none;
}

.card {
  margin: 25px auto;
}
.card1 {
  font-size: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 8px;
  margin: 15px;
  box-shadow: 5px 5px 5px #865b8896;
  cursor: pointer;
  padding: 10px;
}
.week-temp {
  font-size: 10px;
}
.temp-unit {
  position: relative;
  top: -25px;
  font-size: 15px;
  line-height: 4px;
}
.weather-details {
  text-align: center;
}
#city-name,
#weather-description {
  text-transform: capitalize;
}
#current-temp {
  font-size: 50px;
  color: rebeccapurple;
}
#celsius-link {
  color: rgb(57, 27, 88);
}
#fahrenhite-link {
  color: rgb(124, 104, 144);
}
#date {
  text-align: right;
}
#coded-by {
  font-size: 10px;
  color: rgb(93, 92, 92);
  text-align: right;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
}
